<br><br><br>
<div  *ngIf="employeeExist" >
<table class="table">
  <tr class="header">
  <th style="width:20%;">Employee ID</th>
  <th style="width:20%;">First Name</th>
  <th style="width:20%;">Last Name </th>
  <th style="width:20%;">Department Name</th>
  <th style="width:20%;">Action</th>
  </tr>
  <tbody>
    <tr>
      <td>{{employee.employeeId}}</td>
      <td>{{employee.firstName}}</td>
      <td>{{employee.lastName}}</td> 
      <td>{{employee.department.departmentName}}</td>
      <td><button (click)="deleteEmployee()" class="btn btn-warning">Delete</button></td> 
    </tr>
  </tbody>
</table>
</div>
<div *ngIf="!employeeExist" class="alert alert-warning" >
  {{errorMessage}}
</div>