<br><br><br>
<table border="5" style="float: left" id="serched-employee">
  <tr class="header">
  <th style="width:20%;">Employee ID</th>
  <th style="width:20%;">First Name</th>
  <th style="width:20%;">Last Name </th>
  <th style="width:20%;">Department Name</th>
  <th style="width:20%;">Action</th>
  </tr >
  <tbody  *ngFor="let employee of employees" >
    <tr>
      <td>{{employee.employeeId}}</td>
      <td>{{employee.firstName}}</td>
      <td>{{employee.lastName}}</td> 
      <td>{{employee.department.departmentName}}</td>
      <td><button (click)="editEmployee(employee.employeeId)" class="btn btn-warning">Edit</button></td> 
    </tr>
  </tbody>

</table>


